%h2 Login

= form_tag '/login' do
  %div.formgroup
    = label_tag 'username'
    = text_field_tag 'username', nil, :autofocus => true, :class => 'form-control' #NEEEDS NIL
  %div.formgroup
    = label_tag 'password'
    = password_field_tag 'password',nil, :class => 'form-control'
  %div.formgroup
    = submit_tag 'Sign in', :class =>"btn btn-default"
    = button_to('Sign in with instagram', "/oauth/connect", :class =>"btn btn-default")