%h2 You should wear:

%div.items
  - @outfit_for_today.reverse.each do |item|
    %div.item
      = (item.is_a? Item) ? image_tag( item.image_url(:thumb) ) : item

= @adjusting_clo.round(2)

%p= @r.to_s + " clos"


%div.weathersummary
  %h2= @temp.to_s + " degrees: " + @summary

  %h2= "You need to wear things that add up to #{ @offset.to_i } degrees if you're going outside!"