= form_for @user,:html => {:class => "form-horizontal", :role => "form"}, :url => @user.id ? "/u/#{@user.username}" : "/u" do |f|
  %div.formgroup
    %div.col-sm-offset-2.col-sm-10
      - if @user.errors.any?
        %div.errors
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg
  - if @current_user.present? && @user == @current_user
    %div.col-sm-offset-2.col-sm-10
      %h3= "@" + @current_user.username
  - elsif @current_user.present? && @current_user.is_admin?
    %div.col-sm-offset-2.col-sm-10
      %h3= "@" + @user.username
  - else
    %div.formgroup
    = f.label :username, nil, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :username, :class => 'form-control'
  %div.formgroup
    %div.col-sm-offset-2.col-sm-10
      = image_tag( @user.avatar_url(:avatar), :class => "user")
  %div.formgroup
    = f.label :avatar, nil, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.file_field :avatar, :class => 'form-control'
      - f.text_field :avatar_cache, :class => 'form-control'
    =# f.label :avatar, "Image From URL", :class => 'col-sm-2 control-label'
    -# %div.col-sm-10
    -#   = f.text_field :remote_avatar_url, :class => 'form-control'
  %div.formgroup
    = f.label :name, nil, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :name, :class => 'form-control'
  %div.formgroup
    = f.label :password, nil, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.password_field :password, :class => 'form-control'
  %div.formgroup
    = f.label :password_confirmation, nil, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.password_field :password_confirmation, :class => 'form-control'
  %div.formgroup
    = f.label :email, nil, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :email, :class => 'form-control'
  %div.formgroup
    = f.label :size, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :size, :class => 'form-control'
  %div.formgroup
    = f.label :bust, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :bust, :class => 'form-control'
  %div.formgroup
    = f.label :waist, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :waist, :class => 'form-control'
  %div.formgroup
    = f.label :hips, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :hips, :class => 'form-control'
  %div.formgroup
    = f.label :height, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :height, :class => 'form-control'
  %div.formgroup
    = f.label "shoe_size", "Shoe size", :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field "shoe_size", :class => 'form-control'
  - if @current_user
    %div.col-sm-offset-2.col-sm-10
      - if @current_user.instagram_id
        = button_to("Unlink my instagram", '/oauth/connect', :method => "get", :class => "btn btn-default")
      -else
        = button_to("Link my instagram", '/oauth/connect', :method => "get", :class => "btn btn-default")
  - unless @current_user && @current_user.is_admin?
    %div.formgroup
      %div.col-sm-offset-2.col-sm-10
        Please enter your current password to save changes.
    %div.formgroup
      = f.label :current_password, nil, :class => 'col-sm-2 control-label'
      %div.col-sm-10
        = f.password_field :current_password, :class => 'form-control'
  %div.formgroup
    %div.col-sm-offset-2.col-sm-10
      = f.submit :class =>"btn btn-default"