%h2= @user.username

= @user.name

%h3 Friends
- @user.friends.each do |friend|
  = friend.username

%h3 Items
- @user.items.each do |item|
  %li= link_to( item.name, user_item_path(@user.username,item.id) )

%h3 Outfits
- @user.outfits.each do |outfit|
  %li= link_to( outfit.name, user_outfit_path(@user.username,outfit.id) )
