%div.row
  %h2= link_to( "@" + @user.username, @user.username)
- if @current_user && @current_user.is_admin?
  %div.row
    %div.col-md-12
      = button_to( 'Delete', @user, :method => :delete, :data => {:confirm => "Are you sure you want to delete #{ @user.name}?"}, :form_class => "modbutton", :class => "btn btn-default")
      = button_to( 'Edit', edit_user_path( @user.username ), :method => :get, :form_class => "modbutton", :class => "btn btn-default")
%div.row
  %div.col-md-4
    %div.row
      = image_tag( @user.avatar_url(:avatar_large) )
    - if @current_user && @user != @current_user
      %div.row
        %div.col-md-4
          - if @current_user.friends.include? @user
            = button_to("Unfollow #{ @user.username }", "/follow/#{ @user.username }", :method => :delete, :form_class => "modbutton", :class => "btn btn-default")
          - else
            = button_to("Follow #{ @user.username }", "/follow/#{ @user.username }", :method => :post, :form_class => "modbutton", :class => "btn btn-default")
  %div.col-md-8
    %h3 Favorite brands
    - if @brands
      - @brands.each do |i|
        = link_to( i.brand.name, brand_path(i.brand.id))
    - else
      = "No brands yet!"
%div.row
  %h3 Items
  %div.items.col-md-12
    - @user.items.order(:created_at => :desc).each do |item|
      %div.item{:class => item.fit}
        - if item.brand
          %div.brandbubble
            = link_to ( item.brand ) do
              = image_tag( item.brand.image_url(:thumb) )
        %div.fitbubble{:class => item.fit}
          = "+" if item.fit == "big"
          = "-" if item.fit == "small"
          = "•" if item.fit =="right"
        = link_to( user_item_path(@user.username,item.id) ) do
          = image_tag( item.image_url(:thumb) )
        - unless @current_user.nil?
          - if @current_user == item.user || @current_user.is_admin?
            %br/
            = button_to( 'Edit', edit_item_path(item.id), :method => :get, :form_class => 'itemmodbutton')
            = button_to( 'Delete', item, :method => :delete,:form_class => 'itemmodbutton', :data => {:confirm => "Are you sure you want to delete #{item.name}?"})

  = "No items of clothing yet!" if @user.items.empty?
%div.row
  %h3 Following
  %div.users.col-md-12
    - @user.friends.each do |friend|
      %div.user.smallbox
        %div.namebubble
          = link_to( "@" + friend.username, user_path( friend.username ))
        = link_to( user_path( friend.username ) ) do
          = image_tag( friend.avatar_url(:avatar) )

    = "Not following anybody yet!" if @user.friends.empty?
%div.row
  %h3 Followed by
  %div.users.col-md-12
    - @followers.each do |follower|
      - found_follower = User.find_by(:id => follower.user_id )
      %div.user.smallbox
        %div.namebubble
          = link_to( "@" + found_follower.username, user_path( found_follower.username ))
        = link_to( user_path( found_follower.username )) do
          = image_tag( found_follower.avatar_url(:avatar) )

    = "Not followed by anybody yet!" if @followers.empty?
