%h2= link_to( "@" + @user.username, @user.username)
= image_tag( @user.avatar_url(:avatar_large) )

- if @user != @current_user
  - if @current_user.friends.include? @user
    = button_to("Unfollow #{ @user.username }", "/follow/#{ @user.username }", :method => :delete)
  - else
    = button_to("Follow #{ @user.username }", "/follow/#{ @user.username }", :method => :post)

%h3 Items
%div.items.col-md-12
  - @user.items.order(:created_at => :desc).each do |item|
    %div.item{:class => item.fit}
      = link_to( user_item_path(@user.username,item.id) ) do
        = image_tag( item.image_url(:thumb) )
      - unless @current_user.nil?
        - if @current_user == item.user || @current_user.is_admin?
          %br/
          = button_to( 'Edit', edit_item_path(item.id), :method => :get, :form_class => 'modbutton')
          = button_to( 'Delete', item, :method => :delete,:form_class => 'modbutton', :data => {:confirm => "Are you sure you want to delete #{item.name}?"})

= "No items of clothing yet!" if @user.items.empty?

%h3 Following
- @user.friends.each do |friend|
  = link_to( "@" + friend.username, user_path( friend.username ))

= "Not following anybody yet!" if @user.friends.empty?

%h3 Followed by
-# raise User.where(:id => @followers.first.user_id ).first
- @followers.each do |follower|
  - found_follower = User.where(:id => follower.user_id ).first
  = link_to( "@" + found_follower.username, user_path( found_follower.username ))
= "Not followed by anybody yet!" if @followers.empty?
