%h2= @user.username
= image_tag( @user.avatar_url(:avatar) )
%p
= @user.name
%p
= @user.email

- if @user != @current_user
  - if @current_user.friends.include? @user
    = link_to("Unfollow #{ @user.username }", "/follow/#{ @user.username }", :method => :delete)
  - else
    = link_to("Follow #{ @user.username }", "/follow/#{ @user.username }", :method => :post)


%h3 Following
- @user.friends.each do |friend|
  = link_to( friend.username, user_path( friend.username ))
= "Not following anybody yet!" if @user.friends.empty?

%h3 Items
- @user.items.each do |item|
  = link_to( user_item_path(@user.username,item.id) ) do
    %div.item
      = image_tag( item.image_url(:thumb) )
      <br>
      = item.name

= "No items of clothing yet!" if @user.items.empty?

%h3 Outfits
- @user.outfits.each do |outfit|
  %li= link_to( outfit.id, user_outfit_path(@user.username,outfit.id) )

= "No outfits yet!" if @user.outfits.empty?