= form_for @item do |f|
  = f.label :name
  = f.text_field :name

  = f.label :image
  = f.file_field :image
  - f.text_field :image_cache

  = f.label :size
  = f.text_field :size

  = f.label :fit
  = f.text_field :fit

  = f.label :brand_id
  = f.text_field :brand_id

  = f.label :type_id
  -# = f.select('item', 'type', Item::TYPES, {include_blank: true})

  %select
    - Type.all.each do |type|
      %option{:value => type.id, :selected => @item.type_id == type.id }= type.name

  = f.submit