= form_for @item do |f|
  = f.label :name
  = f.text_field :name

  = f.label :image
  = f.text_field :image

  = f.label :size
  = f.text_field :size

  = f.label :fit
  = f.text_field :fit

  = f.label :brand_id
  = f.text_field :brand_id

  = f.label :type_id
  = f.text_field :type_id

  = f.submit