%div.item{:class => item.fit}
  - if item.brand
    %div.brandbubble
      = link_to ( item.brand) do
        = image_tag( item.brand.image_url(:thumb) )
  %div.fitbubble{:class => item.fit}
    = "+" if item.fit == "big"
    = "-" if item.fit == "small"
    = "•" if item.fit =="right"
  = link_to( user_item_path( item.user.username,item.id) ) do
    = image_tag( item.image_url(:thumb) )
  - unless @current_user.nil? || !@current_user.is_admin?
    = button_to( 'Edit', edit_item_path(item.id), :method => :get, :form_class => 'itemmodbutton')
    = button_to( 'Delete', item, :method => :delete, :form_class => 'itemmodbutton', :data => {:confirm => "Are you sure you want to delete #{item.name}?"})