%h2= @title

- @items.each do |item|
  %div.item{:class => item.fit}
    = link_to( user_item_path( item.user.username,item.id) ) do
      = image_tag( item.image_url(:thumb) )
    %br/
    - unless @current_user.nil? || !@current_user.is_admin?
      = button_to( 'Edit', edit_item_path(item.id), :method => :get, :form_class => 'modbutton')
      = button_to( 'Delete', item, :method => :delete, :form_class => 'modbutton', :data => {:confirm => "Are you sure you want to delete #{item.name}?"})
