%h2 All items

- @items.each do |item|
  = link_to( user_item_path( item.user.username,item.id) ) do
    %div.item{:class => item.fit}
      = image_tag( item.image_url(:thumb) )
      - unless @current_user.nil? || !@current_user.is_admin?
        %br/
        = button_to( 'Edit', edit_item_path(item.id), :method => :get)
        = button_to( 'Delete', item, :method => :delete, :data => {:confirm => "Are you sure you want to delete #{item.name}?"})
