%h2= @item.name
- userstr = ( link_to( "@" + @item.user.username, user_path(@item.user.username) ) )
= userstr.html_safe
%div.iteminfo
  = image_tag( @item.image_url(:display) )
  %h3= @item.type.name if @item.type
  - unless @current_user.nil?
    - if @current_user == @item.user || @current_user.is_admin?
      = button_to( 'Delete', @item, :method => :delete, :data => {:confirm => "Are you sure you want to delete #{@item.name}?"})
      = button_to( 'Edit', edit_item_path(@item.id))