
%h2= @item.name

= image_tag( @item.image_url(:display) )

%h3= @item.type.name if @item.type
- unless @current_user.nil?
  - if @current_user == @item.user || @current_user.is_admin?
    = link_to( 'Delete', @item, :method => :delete, :data => {:confirm => "Are you sure you want to delete #{@item.name}?"})
    = link_to( 'Edit', edit_item_path(@item.id))