= form_for @brand, :html => {:class => "form-horizontal", :role => "form"} do |f|
  %div.formgroup
    %div.col-sm-offset-2.col-sm-10
      - if @brand.errors.any?
        %div.errors
          %ul
            - @brand.errors.full_messages.each do |msg|
              %li= msg
    %div.col-sm-offset-2.col-sm-10
      = image_tag( @brand.image_url(:thumb), :class => "brand")
  %div.formgroup
    = f.label :name, nil, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :name, :class => 'form-control'
  %div.formgroup
    = f.label :image, nil, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.file_field :image, :class => 'form-control'
      - f.text_field :image_cache, :class => 'form-control'
    = f.label :image, "Image From URL", :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :remote_image_url, :class => 'form-control'
  %div.formgroup
    = f.label :website, nil, :class => 'col-sm-2 control-label'
    %div.col-sm-10
      = f.text_field :website, :class => 'form-control'
  %div.formgroup
    %div.col-sm-offset-2.col-sm-10
      = f.submit :class =>"btn btn-default"