= form_for @brand do |f|
  <p>
  = f.label :name
  = f.text_field :name
  </p><p>
  = f.label :image
  = f.text_field :image
  </p><p>
  = f.label :website
  = f.text_field :website
  </p>
  = f.submit