= form_for @brand do |f|
  %p
  = f.label :name
  = f.text_field :name
  %p
  = f.label :image
  = f.file_field :image
  - f.text_field :image_cache
  %p
  = f.label :website
  = f.text_field :website
  %p
  = f.submit