= form_for @brand do |f|
  %div.formgroup
    = f.label :name
    = f.text_field :name, :class => 'form-control'
  %div.formgroup
    = f.label :image
    = f.file_field :image, :class => 'form-control'
    - f.text_field :image_cache, :class => 'form-control'
    = f.label :image, "Image From URL"
    = f.text_field :remote_image_url, :class => 'form-control'
  %div.formgroup
    = f.label :website
    = f.text_field :website, :class => 'form-control'
  %div.formgroup
    = f.submit :class =>"btn btn-default"