%div.row
  %div.col-md-12
    %h2= @brand.name
- if @current_user && @current_user.is_admin?
  %div.row
    %div.col-md-12
      = button_to( 'Delete', @brand, :method => :delete, :data => {:confirm => "Are you sure you want to delete #{ @brand.name}?"}, :form_class => "modbutton", :class => "btn btn-default")
      = button_to( 'Edit', edit_brand_path( @brand ), :method => :get, :form_class => "modbutton", :class => "btn btn-default")
%div.row
  %div.col-md-4
    = image_tag(@brand.image_url(:display))
  %div.col-md-8
    -# = @brand.about
%div.row
  %div.items.col-md-12
    - @brand_items.order(:created_at => :desc).each do |item|
      %div.item{:class => item.fit}
        = link_to( user_item_path(item.user.username,item.id) ) do
          = image_tag( item.image_url(:thumb) )
        - unless @current_user.nil?
          - if @current_user == item.user || @current_user.is_admin?
            %br/
            = button_to( 'Edit', edit_item_path(item.id), :method => :get, :form_class => 'itemmodbutton')
            = button_to( 'Delete', item, :method => :delete,:form_class => 'itemmodbutton', :data => {:confirm => "Are you sure you want to delete #{item.name}?"})
