<!DOCTYPE html>
%html
%head
  %title DID THAT FIT
  = stylesheet_link_tag('application', media: 'all')
  = javascript_include_tag('application', 'data-turbolinks-track' => true)
  = csrf_meta_tags
  %meta{:name =>"viewport", :content=>"width=device-width, height=device-height initial-scale=1"}
%body
  = render :partial => '/layouts/nav'

  %div.container
    %div#content
      %div.col-md-12

        = yield

        - if flash[:notice].present?
          %div.col-sm-offset-2.col-sm-10
            %div.errors
              = flash[:notice]

  %footer
    = link_to( 'About', about_path )
    •
    = link_to( "&copy; LYNT.CO".html_safe, 'http://blog.lynt.co' )
