<!DOCTYPE html>
<html>
<head>
  <title>DID THAT FIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <ul>
      <%== smartnav %><%# == means dont mess with my html  %>
      <li><%= render :partial => '/pages/searchform' %></li>
    </ul>
  </nav>

  <div id="wrap">
    <div id="content">

      <%= yield %>
      <% if flash[:notice].present? %>
          <div class="notice">
            <%= flash[:notice] %>
          </div>
      <% end %>

    </div>
  </div>
  <footer>
        LINKS LINKS &copy; LYNT.CO
    </footer>
</body>
</html>
